<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>publish</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Murasame Community</span>
            </button>
            <a class="navbar-brand" href="#">Murasame Community</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=b5afe4009c1e87fdb580&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main">
    <div class="row">
        <!--        .col-lg-9 	.col-md-12 	.col-sm-12 	.col-xs-12-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"> 发布</span></h2>
            <hr>
            <form action="/postPublish" method="post">
                <div class="form-group">
                    <label for="title">问题标题 (简单扼要) :</label>
                    <input type="text" class="form-control" id="title" placeholder="问题标题..." name="title">
                </div>
                <div class="form-group">
                    <label for="title">问题补充(必填, 请参照右侧提示)</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="10"
                              placeholder="请输入问题描述">

                    </textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签</label>
                    <input type="text" class="form-control" id="tag" placeholder="输入标签,以逗号分割" name="tag">
                </div>

<!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--                <span class="alert alert-danger" th:text="${error}"></span>-->
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题指南</h3>
            • JDK 和 JRE 有什么区别？<br><br>
            • == 和 equals 的区别是什么？<br><br>
            • 两个对象的 hashCode()相同，则 equals()也一定为 true，对吗？ <br><br>
            • final 在 java 中有什么作用？(3点) <br><br>
            • java 中的 Math.round(-1.5) 等于多少？ <br><br>
            • String 属于基础的数据类型吗？基础类型有 哪些? <br><br>
            • java 中操作字符串都有哪些类(3类)？它们之间有什么区别？ <br><br>
            • String str="i"与 String str=new String("i")一样吗？<br><br>
        </div>
    </div>

</div>
</body>
</html>